
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="d-flex justify-content-center align-items-center vh-100">

    @* GenericLink --> go to login google mail in each user *@
    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="border border-1 rounded-2 btn btn-outline-primary fs-1 p-4">Please Check Your In Box <i class="fa-solid fa-arrow-right ms-3"></i> </a>

</div>