@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-4"> @Model.FName @Model.LName Details</h1>

<section class="row justify-content-center align-items-center my-3">

    <div class="col-sm-6 border border-1 rounded-3 p-4">

    <div class="form-group mb-3">
        <label class="form-label" asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div> 

    <div class="form-group mb-3">
        <label class="form-label" asp-for="FName"></label>
        <input asp-for="FName" class="form-control" readonly />
    </div>

    <div class="form-group mb-3">
        <label class="form-label" asp-for="LName"></label>
        <input asp-for="LName" class="form-control" readonly />
    </div>

    
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly />
    </div> 

    <div class="form-group mb-3 ">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" readonly />
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-outline-primary">Back To list</a>


    </div>

</section>